@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #121212;
    color: #fff;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Utility Classes */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-title {
    font-size: 2.5rem;
    text-align: center;
    color: #008080;
    margin-bottom: 1rem;
  }
  